.lightMode {
  background-color: hsl(0, 0%, 95%);
  color: black;
}

.lightMode a {
  color: black;
}

.exo--light {
  color: #ff3512;
}

.overlay__light {
  background-color: rgba(201, 181, 152, 0.5);
}
